* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(234, 225, 206);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
p,
div {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.site-container {
  height: 90%;

  display: grid;

  grid-template-areas:
    "nav"
    "hero";

  grid-template-rows: auto 1fr;

  padding: 30px;
}

.nav-container {
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-container::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;

  background-image: url("../src/big-mama-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  grid-area: hero;

  position: relative;

  height: 100%;
  width: 100%;
  padding: 0 20px;

  background-color: #f8ac1d;
  border-radius: 15px;
}

.hero-title-container {
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.hero-title {
  font-size: 4rem;
}

.hero-copy-container {
  height: 50%;

  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 30px;
}

.hero-copy {
  font-weight: 600;
}
