* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f1f1d3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
p,
div {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "black-han-sans";
  src: url("./black-han-sans/BlackHanSans-Regular.ttf");
  font-weight: 600;
  font-style: normal;
}

.site-container {
  height: 90%;
  min-width: 80%;

  display: grid;
  grid-template-areas:
    "nav"
    "hero";
  grid-template-rows: auto 1fr;

  padding: 30px;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;

  padding: 20px;
  font-family: "black-han-sans";
  font-size: 1.2rem;
  color: #b32382;
}

.nav-container .home-tab,
.nav-container .menu-tab,
.nav-container .hours-tab {
  cursor: pointer;
}

.underline-animation {
  display: inline-block;
  position: relative;
  color: #b32382;
}

.underline-animation::after {
  transform: scaleX(0);
  width: 100%;
  height: 3px;

  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  background-color: #b32382;

  transition: 150ms ease-in-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
}

.hero-container::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;

  background-image: url("../src/big-mama-background.png");

  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  grid-area: hero;

  position: relative;

  height: 100%;
  width: 100%;
  padding: 0 20px;

  background-color: #f8ac1d;
  border-radius: 15px;
  animation: fade-in 2s;
}

.hero-text-container {
  height: 50%;
  padding: 10px;
}

.hero-title {
  color: white;
  font-family: "black-han-sans";
  font-size: 4rem;
  animation: fade-in 2s;
}

.tagline {
  color: white;
  font-family: "black-han-sans";
  animation: fade-in 5s;
}

.x-large {
  font-size: 6rem;
}

.hero-copy-container {
  height: 50%;

  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 30px;

}

.hero-copy {
  font-weight: 600;
}

/* Menu styling */

.menu-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  color:white; 
  font-family: "black-han-sans";
  font-size: 1rem;
  animation: fade-in 1.5s;

}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkgray;

  font-family: "black-han-sans";
  font-size: 10px;
}
